# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/release/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Logs
*.log

# DotNet
*.db
*.db-journal
*.pdb
*.exe
*.dll
*.exe.config

# Local History for Visual Studio
.history/

appsettings.json
appsettings.Development.json
appsettings.Production.json

# Environment Variables
.env
.env.local
.env.*.local
.
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
